<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wellness Space</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top ">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.gif" width="110" height="40" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/myAccount">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/bookingsControl">Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/registerAdmin">New Admin</a>
                </li>
            </ul>
            <a class="btn btn-sm btn-outline-info" href="/logout">Logout</a>
        </div>
    </nav>
</header>
<div class="login"></div>
<div class="form-signup">

    <form th:action="@{/admin/addProdBook}" th:method="post" th:object="${prodBook}">

        <lable>Booking ID</lable>
        <input type="text" id="id_booking" name="id_booking" th:value="${booking.getId_booking()}">

        <lable>Product</lable>
        <select id="dropProducts" name="id_product" >
            <option value="0">Select Product</option>
            <option th:each="product : ${products}"
                    th:value="${product.getId_product()}"
                    th:text="${product.getName()}"></option>
        </select>

        <lable>Quantity</lable>
        <input type="text" id="quantity" name="quantity" >

        <input type="submit" value="Add">
    </form>
</div>

</body>
</html>