<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wellness Space</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top ">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.gif" width="110" height="40" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/myAccount">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/myBookings">My Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/booking">New Booking</a>
                </li>
            </ul>
            <a class="btn btn-sm btn-outline-info" href="/logout">Logout</a>
        </div>
    </nav>
</header>
<div class="login"></div>
<main role="main">
<div class="container-fluid">
    <div class="table">
        <H3> Welcome <span th:text="${customer.getName()}+ ' ' + ${customer.getSurname()}"></span></H3>
    </div>
    <div class="table">
        <a href="/user/booking" class="btn btn-sm btn-outline-info" >Book your treatment</a>
    </div>
    <div class="login"></div>
    <div class="row">
        <div class="col-lg-4">
            <img src="/img/counsoling.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <h2>Mental Treatment</h2>
            <p>Treatments on common mental health problems such as depression, anxiety, compulsiveness. Learn to control yourself and win this battle with the help of our professionals</p>
            <p><a class="btn btn-info" href="/mentalTreatments" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img src="/img/skincare.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <h2>Facial Treatment</h2>
            <p>Extraordinary tightening, cleansing, toning and facial smoothing for a more even complexion! Know the benefits of botox, lifting, facial detox and more. Don't let aging beat you, grow old with healthy skin</p>
            <p><a class="btn btn-info" href="/facialTreatments" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img src="/img/bodycare.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <h2>Body Treatments</h2>
            <p>Free your mind and body with our massages and body treatments. We have a unique and exclusive techniques to lose fat tissue, make the orange aspect go away, detox your body with a perfect wrap and green clay .</p>
            <p><a class="btn btn-info" href="/bodyTreatments" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>
</main>
</body>
</html>