<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wellness Space</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top ">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.gif" width="110" height="40" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/myAccount">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/myBookings">Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/profile">Profile</a>
                </li>
            </ul>
            <a class="btn btn-sm btn-outline-info" href="/logout">Logout</a>
        </div>
    </nav>
</header>
<div class="login"></div>
<div class="container-fluid" th:action="@{/user/myBookings}" th:method="get" th:switch="${bookings}">
    <h2 th:case="null">No bookings found!</h2>
    <div class="container-fluid" th:case="*">
        <h2>My Bookings</h2>
        <table class="table">
            <thead>
            <tr class="table-tr">
                <th>Date</th>
                <th>Time</th>
                <th>Duration</th>
                <th>Treatment</th>
                <th>Professional</th>
                <th>Status</th>
                <th> </th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="book : ${bookings}">
                <td class="table-td"  th:text="${book.getDate()}"></td>
                <td class="table-td"  th:text="${book.getTime()}"></td>
                <td class="table-td"  th:text="${book.getTreatment().getDuration()}"></td>
                <td class="table-td"  th:text="${book.getTreatment().getName()}"></td>
                <td class="table-td"  th:text="${book.getStaff().getName()}+ ' ' + ${book.getStaff().getSurname()}" ></td>
                <td class="table-td"  th:text="${book.getStatus().getStatus()}"></td>
                <td class="table-td"><button class="btn btn-sm btn-outline-info" >View Details/Edit</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>