<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mental Treatments</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top ">
            <a class="navbar-brand" href="/">
                <img src="/img/logo.gif" width="110" height="40" alt="" loading="lazy">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mentalTreatments">Mental Treatments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/facialTreatments">Facial Treatments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bodyTreatments">Body Treatments</a>
                    </li>
                </ul>
                <div sec:authorize="hasRole('USER')">
                    <a class="btn btn-sm btn-outline-info" href="/user/myAccount">My Account</a>
                    <a class="btn btn-sm btn-outline-info" href="/logout">Logout</a>
                </div>
                <div sec:authorize="hasRole('ADMIN')">
                    <a class="btn btn-sm btn-outline-info" href="/admin/myAccount">Admin Area</a>
                    <a class="btn btn-sm btn-outline-info" href="/logout">Logout</a>
                </div>
                <div sec:authorize="isAnonymous()">
                    <a class="btn btn-sm btn-outline-info" href="/login">Sign in</a>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <br/>
                <br/>
                <br/>
                <br/>
                <h1 class="display-3">Wellcome to Wellness Space!</h1>
                <br/>
                <br/>
                <p>Are you tired of your stressed-out life? Are you looking for a facial or a full body treatment or a mental treatment?  </p>
                <p>Join our space and allow yourself to breathe slowly. It’s time to finally let go. </p>
                <br/>
                <div sec:authorize="isAnonymous()">
                    <a class="btn btn-info btn-lg" href="/signup" role="button">Register now &raquo;</a>
                </div>
            </div>
        </div>

        <div class="container-fluid" th:switch="${mentalTreatments}">
            <h2 th:case="null">No mental treatment available!</h2>
            <div class="container-fluid" th:case="*">
                <h2>Mental Treatments</h2>
                <table class="table">
                    <thead>
                        <tr class="table-tr">
                            <th>Treatment Name</th>
                            <th>Price</th>
                            <th>Duration</th>
                            <th>Details</th>
                            <th> </th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr th:each="treat : ${mentalTreatments}">
                                <td class="table-td" th:text="${treat.getName()}"></td>
                                <td class="table-td" th:text="${#numbers.formatDecimal(treat.getCost(), 0, 'COMMA', 2, 'POINT')}"></td>
                                <td class="table-td" th:text="${treat.getDuration()}"></td>
                                <td class="table-td" th:text="${treat.getDetails()}"></td>
                                <td class="table-td"><a th:href="@{/user/booking}" class="btn btn-sm btn-outline-info" >Book now</a></td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </main>
</body>
</html>